<div class = "home_style">
    <h1>Posts of the Day!</h1>
{{#each posts}}
<div class = "each">
<a href="/post/{{_id}}"><h1>{{postTitle}}</h1></a>    
    <h2>Author: {{author}}</h2>
    <h3>Title: {{movieTitle}}</h3>
    <h3>Genre: {{genre}}</h3>
    {{#if_eq type 0}}
        <p>{{content}}</p>
    {{/if_eq}}

    {{#if_eq type 1}}
        <img src="{{post.src}}">
        <p>{{post.content}}</p>
    {{/if_eq}}

    {{#if_eq type 2}}
        {{{post.src}}}
        <p>{{post.content}}</p>
    {{/if_eq}} 
</div>  
{{/each}}
</div>