<div class = "home_style">
    <h1>Posts of the Day!</h1>
{{#each posts}}
<div class = "each">
<a href="/post/{{_id}}"><h1>{{postTitle}}</h1></a>    
    <h2>Author: {{author}}</h2>
    <h3>Title: {{movieTitle}}</h3>
    <h3>Genre: {{genre}}</h3>
    {{#if_eq type 0}}
        <p>{{content}}</p>
    {{/if_eq}}

    {{#if_eq type 1}}
        <div class="image">
            <img src="{{src}}">
            <p>{{content}}</p>
        </div>
    {{/if_eq}}

    {{#if_eq type 2}}
        <div class = "video">
            {{{src}}}
        </div>
        <p>{{content}}</p>
    {{/if_eq}} 
</div>  
{{/each}}
<button type=button id="last" {{#if last}}disabled{{/if}}>Last Page</button> 
<button type=button id="next" {{#if next}}disabled{{/if}}>Next Page</button>
</div>

<script src="/public/js/home.js"></script>