{{#each posts}}
<a href="/post/{{_id}}"><h1>{{postTitle}}</h1></a>    
    <h2>{{author}}</h2>
    <h3>{{movieTitle}}</h3>
    <h4>{{genre}}</h4>
    {{#if_eq type 0}}
        <p>{{content}}</p>
    {{/if_eq}}

    {{#if_eq type 1}}
        <img src="{{post.src}}">
        <p>{{post.content}}</p>
    {{/if_eq}}

    {{#if_eq type 2}}
        {{{post.src}}}
        <p>{{post.content}}</p>
    {{/if_eq}}   
{{/each}}