<div class = "post_style">
    <h1>{{post.postTitle}}</h1>
    <h2>Author: {{post.author}}</h2>
    <h3>Title: {{post.movieTitle}}</h3>
    <h3>Genre: {{post.genre}}</h3>

    {{#if login}}
    {{/if}}
            
    {{#if_eq post.type 0}}
        <p>{{post.content}}</p>
    {{/if_eq}}

    {{#if_eq post.type 1}}
    <div class = "image">
        <img src="{{post.src}}">
        <p>{{post.content}}</p>
    </div>
    {{/if_eq}}

    {{#if_eq post.type 2}}
        {{{post.src}}}
        <p>{{post.content}}</p>
    {{/if_eq}} 
        {{#unless favorite}}
        <form id=fav-button method=POST action="/user/favorite/{{post._id}}">
            <button type="Submit">Add Favorite</button> 
        </form>
        {{/unless}}
        {{#if favorite}}
        <form id=fav-button method=POST action="/user/favorite/{{post._id}}">
            <button type="Submit">Remove Favorite</button> 
        </form>
        {{/if}}
</div>