    <h1>{{post.postTitle}}</h1>
    <h2>{{post.author}}</h2>
    <h3>{{post.movieTitle}}</h3>
    <h4>{{post.genre}}</h4>

    {{#if login}}
        {{#unless favorite}}
        <form id=fav-button method=POST action="/user/favorite/{{post._id}}">
            <button type="Submit">Add Favorite</button> 
        </form>
        {{/unless}}
        {{#if favorite}}
        <form id=fav-button method=POST action="/user/favorite/{{post._id}}">
            <button type="Submit">Remove Favorite</button> 
        </form>
        {{/if}}
    {{/if}}
            
    {{#if_eq post.type 0}}
        <p>{{post.content}}</p>
    {{/if_eq}}

    {{#if_eq post.type 1}}
    <img src="{{post.content}}">
    {{/if_eq}}

    {{#if_eq post.type 2}}
        {{post.content}}
    {{/if_eq}} 