    <h1>{{post.postTitle}}</h1>
    <h2>{{post.author}}</h2>
    <h3>{{post.movieTitle}}</h3>
    <h4>{{post.genre}}</h4>
    {{#if post.type=0}}
        <p>{{post.content}}</p>
    {{/if}}

    {{#if post.type=1}}
    <img src="{{post.content}}">
    {{/if}}

    {{#if post.type=2}}
        {{post.content}}
    {{/if}} 