<div class = "profile_style">
<h1>User Posts:</h1>

{{#if noPost}}
    <p>No Posts Yet! <a href="/create">Create one now!</a></p>
{{/if}}
{{#each posts}}
<div class = "each">
    <a href="/post/{{_id}}"><h1>{{postTitle}}</h1></a>    
    <h3>Title: {{movieTitle}}</h3>
    <h3>Genre: {{genre}}</h3>
    {{#if_eq type 0}}
        <p>{{content}}</p>
    {{/if_eq}}

    {{#if_eq type 1}}
        <img src="{{src}}">
        <p>{{content}}</p>    
    {{/if_eq}}

    {{#if_eq type 2}}
        {{{src}}}
        <p>{{content}}</p>
    {{/if_eq}} 
</div>  
{{/each}}
<h1>User Favorites:</h1>
{{#if noFav}}
    <p>No Favorites Yet!</p>
{{/if}}


{{#each favorites}}
<div class = "each">
    <a href="/post/{{_id}}"><h1>{{postTitle}}</h1></a>    
    <h2>Author: {{author}}</h2>
    <h3>Title: {{movieTitle}}</h3>
    <h3>Genre: {{genre}}</h3>
    {{#if_eq type 0}}
        <p>{{content}}</p>
    {{/if_eq}}

    {{#if_eq type 1}}
        <img src="{{post.src}}">
        <p>{{post.content}}</p>    {{/if_eq}}
    {{#if_eq type 2}}
        {{{post.src}}}
        <p>{{post.content}}</p>
    {{/if_eq}} 
</div>  
{{/each}}
</div>