<div class = "profile_style">
<h1>User Posts:</h1>
{{#each posts}}
    <h1>{{postTitle}}</h1>
    <h2>{{author}}</h2>
    <h3>{{movieTitle}}</h3>
    <h4>{{genre}}</h4>
    {{#if_eq type 0}}
        <p>{{content}}</p>
    {{/if_eq}}

    {{#if_eq type 1}}
    <img src="{{content}}">
    {{/if_eq}}

    {{#if_eq type 2}}
        {{content}}
    {{/if_eq}}   
{{/each}}

<h1>User Favorites:</h1>

{{#each Favorites}}
    <h1>{{postTitle}}</h1>
    <h2>{{author}}</h2>
    <h3>{{movieTitle}}</h3>
    <h4>{{genre}}</h4>
    {{#if_eq type 0}}
        <p>{{content}}</p>
    {{/if_eq}}

    {{#if_eq type 1}}
    <img src="{{content}}">
    {{/if_eq}}

    {{#if_eq type 2}}
        {{content}}
    {{/if_eq}}   
{{/each}}
</div>