
{{#if noneFound}}
    <p>No posts matching your search!</p>
{{/if}}

{{#each posts}}
    <a href="/post/{{_id}}"><h1>{{postTitle}}</h1></a>    
    <h3>{{movieTitle}}</h3>
    <h4>{{genre}}</h4>
    {{#if_eq type 0}}
        <p>{{content}}</p>
    {{/if_eq}}

    {{#if_eq type 1}}
    <img src="{{content}}">
    {{/if_eq}}

    {{#if_eq type 2}}
        {{content}}
    {{/if_eq}}   
{{/each}}